@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&family=Borel&family=Bree+Serif&family=Dancing+Script&family=Montserrat:wght@500&family=Poppins&family=Roboto+Mono&family=Tektur&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #1f242d;
  font-family: "Poppins", sans-serif;
  color: white;
}
/* Home Section */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 20px; */
  padding: 25px 13%;
  transition: 0.3s;
}
.header .sticky {
  background-color: yellowgreen;
}
.logo {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 27px;
  cursor: default;
  animation: slide-left 1s ease forwards;
  opacity: 0;
}
.Navbar a {
  display: inline-block;
  text-decoration: none;
  color: white;
  position: sticky;
  padding: 0px 16px;
  font-weight: 600;
  transition: 0.3s all;
  animation: navMenu 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}
.Navbar a:hover,
.Navbar a.active {
  color: #0ef;
}

.hero-container {
  display: flex;
  padding: 25px 10%;
  justify-content: center;
  align-items: center;
}

.info-side h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0;
  letter-spacing: 1px;
}
.info-side h1 {
  font-size: 75px;
  letter-spacing: 1px;
  font-weight: 700;
  animation: slideRight 0.5s ease forwards;
  opacity: 0;
  animation-delay: 1s;
}
.info-side h3 span {
  color: #0ef;
}
.hero-img img {
  width: 350px;
  border: 1px solid black;
  border-radius: 50%;
  animation: zoomIn 1s ease forwards;
  opacity: 0;
}
.part1 {
  animation: part1 1s ease forwards;
  opacity: 0;
}
.part2 {
  animation: part2 1s ease forwards;
  opacity: 0;
}
p {
  line-height: 27px;
  margin: 20px 0px 40px 0px;
  animation: slideLeftP 1s ease forwards;
  opacity: 0;
  animation-delay: 1.2s;
}
i {
  position: relative;
  border: 2px solid #0ef;
  padding: 10px;
  border-radius: 50%;
  color: #0ef;
  margin: 0px 8px;
  transition: 0.3s;
  animation: socialIcons 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
  opacity: 0;
}
i:hover {
  box-shadow: 0 0 20px #0ef;
}
button {
  background-color: #0ef;
  margin-top: 30px;
  padding: 20px 70px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3ms;
  box-shadow: 0 0 15px #0ef;
  animation: slideUp 1s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}
button:hover {
  box-shadow: none;
}

@keyframes slide-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes navMenu {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes part1 {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes part2 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeftP {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes socialIcons {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* About Section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 25px 10%;
  margin: 20px 0px;
  background-color: #1f242d;
  height: 100vh;
}

.about-img img {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
}

.heading {
  text-align: left;
  font-size: 60px;
}
.about-content span {
  color: #0ef;
}
.about-content h3 {
  font-size: 1.6rem;
}
.about-content p {
  line-height: 27px;
  margin: 2rem 0 1rem;
  font-size: 15px;
}
.profile {
  text-align: center;
}
.profile span {
  color: #0ef;
}
.coding-profiles {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 2rem;
}
.coding-profiles a {
  text-decoration: none;
}
.coding-profiles span {
  font-family: "Poppins", sans-serif;
  color: #0ef;
  transition: 1s all ease;
}
.coding-profiles span:hover {
  scale: 10rem;
  color: #0ef;
}

/* Education Section */
.education {
  padding: 25px 10%;
  margin-top: 70px;
}
.education-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  margin-bottom: 10px;
  padding: 25px 10%;
  background-color: #1f242d;
}
.education h2 {
  text-align: center;
  font-size: 3.6rem;
}
.education span {
  color: #0ef;
}
.education-container .institution {
  flex: 1 1 20rem;
  margin-top: 30px;
  background-color: #323946;
  padding: 2rem 1rem 3rem;
  text-align: center;
  border-radius: 2rem;
  transition: 0.5s ease;
  border: 0.2rem solid #323946;
}

.education-container .institution:hover {
  border-color: #0ef;
}

.skills {
  /* padding: 25px 10%; */
  margin-top: 70px;
  height: 100vh;
}
.skills .heading {
  text-align: center;
  padding-bottom: 30px;
}
.skills span {
  color: #0ef;
}

.x {
  display: flex;
}

.skill-container {
  /* border: 2px solid white; */
  margin-bottom: 10px;
  margin-left: 100px;
  padding: 25px 10%;
  background-color: #1f242d;
  width: 40%;
  height: 40%;
}

.heading1 {
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 10px;
  margin-bottom: 20px;
}

.bar {
  font-size: 18px;
}
.technical-bar .bar {
  margin: 40px 0;
}
.technical-bar .bar:first-child {
  margin-top: 0;
}
.technical-bar .bar:last-child {
  margin-bottom: 0;
}
.bar .info span {
  margin-left: 15px;
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
}

.bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: black;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  width: 90%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
.progress-line.cpp span {
  width: 90%;
}
.progress-line.java span {
  width: 70%;
}
.progress-line.html span {
  width: 80%;
}
.progress-line.css span {
  width: 60%;
}
.progress-line.js span {
  width: 50%;
}

.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: black;
  color: white;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.progress-line.cpp span::after {
  content: "90%";
}
.progress-line.java span::after {
  content: "70%";
}
.progress-line.html span::after {
  content: "80%";
}
.progress-line.css span::after {
  content: "60%";
}
.progress-line.js span::after {
  content: "55%";
}

.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: black;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}

.radial-bars {
  padding: 25px 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.radial-bars .radial-bar {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}
.radial-bars .radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}
.radial-bars .radial-bar .progress-bar {
  stroke-width: 10;
  stroke: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}
.path {
  stroke-width: 10;
  stroke: #0ef;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path-1 {
  animation: animate-path1 1s 1s linear forwards;
}
.path-2 {
  animation: animate-path2 1s 1s linear forwards;
}
.path-3 {
  animation: animate-path3 1s 1s linear forwards;
}
.path-4 {
  animation: animate-path4 1s 1s linear forwards;
}
@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 180;
  }
}
@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 140;
  }
}
@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 90;
  }
}
@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 100;
  }
}

.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

.contact {
  padding: 25px 10%;
  margin-top: 70px;
  height: 100vh;
  margin-bottom: auto;
}
.contact .heading {
  text-align: center;
  margin-bottom: none;
  padding-bottom: 30px;
}
.contact span {
  color: #0ef;
}
.contact form {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
}
.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.btn-box .btn {
  margin-top: 0.1px;
}
.contact form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: 0.8rem 0;
}
.contact form .input-box .input-field input {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.3rem;
  color: rgb(247, 241, 232);
  background: transparent;
  border-radius: 0.6rem;
  border: 2px solid #0ef;
}
.contact form .textarea-field textarea {
  height: 250px;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.3rem;
  color: rgb(232, 231, 230);
  background: transparent;
  border-radius: 0.6rem;
  border: 2px solid #0ef;
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: #f2f2e9;
}
.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #112e42;
  border-radius: 0.6rem;
  z-index: -1;
  transition: 0.5s;
}
.contact form .input-box .input-field input:focus ~ .focus,
.contact form .input-box .input-field input:valid ~ .focus,
.contact form .textarea-field textarea:focus ~ .focus,
.contact form .textarea-field textarea:valid ~ .focus {
  width: 100%;
}

.contact form .textarea-field {
  position: relative;
  margin: 0.2rem 0 2.7rem;
  display: flex;
}
.contact form .textarea-field tetarea {
  resize: none;
}
.contact form .btn-box.btns .btn {
  cursor: pointer;
}
